name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Init submodules
      run: |
        git submodule update --init
    
    - name: Install dependency
      run: |
        sudo apt install cppcheck graphviz

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'  # Change to your preferred version

    - name: Install uv
      run: |
        curl -Ls https://astral.sh/uv/install.sh | bash
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH
    
    - name: make
      run: make
